.search-text {
    width: 60rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    
}

input {
    outline: none;
    border: none;
}

.input-text {
    width: 35rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0 0.7rem;
    font-size: 1rem;
    color: #26010B;
    box-shadow: 0.5rem 0.5rem 2rem #b92c6e;
    font-family:Arial, Helvetica, sans-serif;
}

.find {
    width: 6rem;
    padding: 0 0.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
    background-color: #BF045B;
    color: #26010B;
    box-shadow: 0.5rem 0.5rem 2rem #b92c6e;
    font-family:Arial, Helvetica, sans-serif;
}

.find:hover {
    background-color: #26010B;
    color: #BF045B;
    border: 0.2rem solid #BF045B;
}



.result {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
    height: 18rem;
    overflow:auto;
}

h2 {
    color: #26010B;
    margin-left: 3rem;
    text-decoration: underline;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 5.5rem 2rem 3rem;
    color: #26010B;
}

.pregnant-lady {
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
    width: 10rem;
    height: 10rem;
    opacity: 0.2;
    
  }

