.error-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:Arial, Helvetica, sans-serif;
    color: #26010B;
}

.result {
    width: 62rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-left: 9rem;
}
  
.result h2 {
    color: #26010B;
    text-decoration: underline;
}

.result p {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    color: #26010B;
}

@media screen and (max-width: 1320px){
    .result {
        width: 48rem;
    }
}

@media screen and (max-width: 1080px){
    .result {
        width: 40rem;
        margin: 0.5rem 4.5rem 3rem;
    }
}

@media screen and (max-width: 850px){
    .error-message {
        font-size: 0.8rem;
    }

    .result {
        width: 30rem;
    }
}

@media screen and (max-width: 680px){
    .error-message {
       width: 20rem;
    }

    .result {
        width: 26rem;
        height: 33rem;
        margin-left: 2rem;
    }

    .result h2 {
        font-size: 1.2rem;
    }

    .result p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 520px){
    .error-message {
       width: 18rem;
    }

    .result {
        width: 21rem;
    }
}

@media screen and (max-width: 440px){
    .result {
        width: 16rem;
    }
}