body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(#f3cee6, #d79cc2);
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 30rem;
  width: 60rem;
  box-shadow: 1rem 1rem 2rem grey;
  border-radius: 1rem;
  background-color: #ef7bc6;
  overflow:hidden;
}

.result {
  position: absolute;
  top: 8rem;
  width: 48rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  overflow-y:auto;
  margin: 0 6rem;
}

.result h2 {
  color: #26010B;
  text-decoration: underline;
}

.result p {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  color: #26010B;
}

/* MEDIA QUERIES */
@media screen and (max-width: 980px){
  .container{
    width: 45rem;
  }
  .result {
    width: 35rem;
    margin: 0 5rem;
  }
}

@media screen and (max-width: 730px){
  .container{
    width: 35rem;
  }
  .result {
    width: 25rem;
    margin: 0.5rem 4.5rem 3rem;
  }
}

@media screen and (max-width: 570px){
  .container{
    width: 30rem;
  }
  .result {
    width: 20rem;
  }
}

@media screen and (max-width: 500px){
  .container{
    width: 25rem;
  }
  .result {
    margin: 0rem 2rem 3rem;
  }
}
