body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3e1ec;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40rem;
  width: 80rem;
  box-shadow: 1rem 1rem 2rem grey;
  border-radius: 1rem;
  background: linear-gradient(#f3cee6, #d79cc2);
  overflow:hidden;
}

.pregnant-lady {
  position: absolute;
  bottom: 1rem;
  right: -1rem;
  width: 8rem;
  height: 8rem;
  opacity: 0.2;
}

/* MEDIA QUERIES */
@media screen and (max-width: 980px){
  .container{
    width: 45rem;
  }
  .result {
    width: 35rem;
    margin: 0 5rem;
  }
}

@media screen and (max-width: 730px){
  .container{
    width: 35rem;
  }
  .result {
    width: 25rem;
    margin: 0.5rem 4.5rem 3rem;
  }
}

@media screen and (max-width: 570px){
  .container{
    width: 30rem;
  }
  .result {
    width: 20rem;
  }
}

@media screen and (max-width: 500px){
  .container{
    width: 25rem;
  }
  .result {
    margin: 0rem 2rem 3rem;
  }
}